*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #1b2938;
  color: #c6d4df;
  font-family: Arial, sans-serif;
}

/*** SUMMARY AREA ***/
/*** REVIEW ENTRIES ***/



.rec-thumb {
  margin-right: 10px;
}
.review-hader-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rec-text {
  font-size: 16px;
  line-height: 19px;
  padding-top: 3px;
}
.rec-hours {
  font-size: 11px;
  color: #8091a2;
  opacity: 0.6;
  font-weight: 300;
  line-height: 15px;
}
.review-source {
  justify-self: flex-end;
  margin-right: 5px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
.posted-date {
  text-transform: uppercase;
  color: #8091a2;
  opacity: 0.6;
  font-size: 10px;
  margin-bottom: 8px;
}
.review-content {
  font-size: 13px;
  margin-right: 8px;
  line-height: 17px;
  color: #acb2b8;
  overflow-wrap: break-word;
  white-space: pre-line;
}
.review-content-end {
  height: 12px;
  border-bottom: 1px #363f4c solid;
}
.vote-controls {
  margin: 8px 0px;
}
.vote-prompt {
  color: #8091a2;
  font-size: 12px;
  opacity: 0.6;
}
.vote-btn-ctn {
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
}
.vote-btn {
  height: 22px;
  background-color: #212c3d;
  color: #66c0f4;
  font-size: 12px;
  padding: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 1px;
  border: 2px #212c3d none;
  border-radius: 2px;
  cursor: pointer;
}
.vote-btn:hover {
  color: #fff;
  background: #66c0f4;
}
.vote-btn-text {
  text-align: center;
  vertical-align: center;
  margin-left: 2px;
}
.icon-16 {
  height: 16px;
  width: 16px;
  background-image: url("assets/icons_16.png");
  background-clip: border-box;
}
.icon-helpful {
  background-position: -112px -16px;
}
.vote-btn:hover .icon-helpful {
  background-position: -144px -16px;
}
.icon-unhelpful {
  background-position: -64px -16px;
}
.vote-btn:hover .icon-unhelpful {
  background-position: -80px -16px;
}
.icon-funny {
  background-position: -208px -16px;
}
.vote-btn:hover .icon-funny {
  background-position: -224px -16px;
}
.icon-award {
  height: 16px;
}
.vote-info {
  color: #647580;
  font-size: 12px;
  margin-bottom: 8px;
}